<!DOCTYPE html>
<html>

<head>
	<title>Impiccato</title>
	<meta charset="UTF-8" />
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<link rel="stylesheet" href="src/styles.scss" />
</head>

<body>
	<div id="app">
		<div class="game">
			<div class="game__left">
				<hanged-man :bad-attemps="badLetters.length"></hanged-man>
				<button class="button button__start" @click="init">Ricomincia</button>
			</div>
			<div class="game__right">
				<div class="settings">
					<!-- button settings -->
					<div>
						Hai accumulato <img src="./src/assets/money.png" width="16" class="coin" /> <strong>{{ coins }}</strong>
					</div>
				</div>
				<div v-if="word2discover" class="words">
					<p>La parola da indovinare è:</p>
					<the-word :word="word2discover" :good-letters="goodLetters"></the-word>
					<form>
						<!-- input solution -->
						<!-- button solution -->
						<p class="tip">Sblocca i campi sopra e dai la soluzione adesso! Se sbagli, il gioco finisce.</p>
					</form>
					<template v-if="gameover">
						<p><strong>Oh no! HAI PERSO!</strong></p>
						<p>
							La parola era <strong>{{ word2discover }}</strong>
						</p>
					</template>
				</div>
				<div class="dashboard">
					<div class="consonants">
						<p>Prova con una consonante:</p>
						<form>
							<input
								v-model="letter2check"
								type="text"
								maxlength="1"
								placeholder="inserisci una consonante"
								class="input input__letter"
								pattern="[^aeiouAEIOU]"
								:disabled="totalAttemps === usedAttemps || gameover"
								required
							/>
							<button :disabled="totalAttemps === usedAttemps || gameover" class="action action__confirm" @click.prevent="confirm">Controlla</button>
						</form>
						<div class="tip tip__attemps">
							<p v-html="attempsMessage"></p>
						</div>
					</div>
					<div class="vocals">
						<p>oppure compra una vocale:</p>
						<ul>
							<li class="vocal">
								<!-- vocal -->
							</li>
						</ul>
						<!-- message tip -->
					</div>
				</div>
			</div>
		</div>
		<base-modal v-if="settingsOpen" @close-modal="settingsOpen = false">
			<form class="sentence" @submit.prevent="getWords">
				<label for="sentence">Configura il gioco</label>
				<textarea v-model="customText" id="sentence" placeholder="Copia qui testo da cui estrarre parole"></textarea>
				<button class="button button__start">Estrapola parole</button>
			</form>
		</base-modal>
	</div>
	
	<script src="src/index.js"></script>
</body>

</html>